<h1>hello world</h1>


  <form id="search-form">
    Find events within
    <input type="number" min='100' max='20000' name="radius" id='radius'> meters.
    <button id="search-location">Find!</button>
  </form>

<script>
  
  button = document.getElementById('search-location')

  function findLocation(event){
    event.preventDefault();
    navigator.geolocation.getCurrentPosition(function(position){ 
      var form = document.getElementById('search-form')
      form.action = '/search'
      form.method = 'post'
      var method = document.createElement('input')
      method.name = '_method'
      method.value = 'put'
      var latitude = document.createElement('input')
      latitude.name = 'latitude'
      latitude.value = position.coords.latitude
      var longitude = document.createElement('input')
      longitude.name = 'longitude'
      longitude.value = position.coords.longitude
      form.appendChild(method)
      form.appendChild(latitude)
      form.appendChild(longitude)
      form.submit()
    })
  }
    button.addEventListener('click', findLocation)

</script>