<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <title>Good Party Hunting</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
    <nav class="hidden">
      <ul class="dropdown-menu">
        <li id="logo--small"><div class="logo--small"><img src="img/gph_logo.png" alt="" class="logo--small"></div></li>
        <a href="/"><li class="list-item">My Events</li></a>
        <a href="/search"><li class="list-item">Search</li></a>
        <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="logout"><li>Logout</li></button>
        <li id="close"><i class="fas fa-times fa-lg"></i></li>
      </ul>
      </form>
    </nav>



  <%= yield %>

<script src="/javascripts/application.js"></script>
</body>
</html>