<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>

  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <% if logged_in? %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  <% end %>

  <%= yield %>

<script src="/javascripts/application.js"></script>
</body>
</html>